@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

body {
  font-family: variables.$font-open-sans;
  font-size: functions.responsive-value(16, 12, "default", "default", "fixed-both", "px");
  line-height: 1.33;
  color: variables.$color-333333;

  .scroll-lock & {
    overflow: hidden;
  }

  @media (min-width: #{768 + 0.1px}) {
    line-height: 1.5;
  }

  &::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 150;
    background-color: rgba(0, 59, 78, 0.8);

    html:not(.burger-active, .dialog-active) & {
      opacity: 0;
      visibility: hidden;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, visibility;
      transition-duration: 0.3s;
    }
  }
}
