@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.header {
  block-size: variables.$header-height;

  // .header__wrapper
  &__wrapper {
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    z-index: 100;
    inline-size: 100%;
    background-color: variables.$color-white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='none' width='1440' height='40'%3E%3Cpath fill='%23e3051c' d='M1440 32h-128v8h128z'/%3E%3Cpath fill='%230067a2' d='M1440 0c-10 6-21.5 11.2-40 16-36.56 9.47-88 8-88 8v8h128z'/%3E%3Cpath fill='url(%23a)' d='M0 24h1312v8H0z'/%3E%3Cpath fill='%23e3051c' d='M0 32h1312v8H0z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='1312' x2='0' y1='32' y2='32' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230067a2'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100% functions.responsive-value(40, 20, "default", 992, "fixed-both", "px");
  }

  // .header__inner
  &__inner {
    --header-column-gap: #{functions.responsive-value(94, 48, "default", 992, "fixed-both", "px")};

    display: flex;
    align-items: center;
    column-gap: 24px;
    padding-block: functions.responsive-value(16, 8, "default", 992, "fixed-both", "px")
      functions.responsive-value(38, 24, "default", 992, "fixed-both", "px");

    @media (min-width: #{1024 + 0.1px}) {
      column-gap: var(--header-column-gap);
    }

    @media (max-width: 1024px) {
      justify-content: space-between;
    }
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 0 0 auto;
  font-size: 0;

  // .header-logo__icon
  &__icon {
    --color-logo-word-1: #{variables.$color-e3051c};
    --color-logo-word-2: #{variables.$color-0067a2};
    --color-logo-plus-top: #{url(#icon-gradient-logo-plus-top)};
    --color-logo-plus-bottom: #{url(#icon-gradient-logo-plus-bottom)};
    --color-logo-plus-wave: #{url(#icon-gradient-logo-plus-wave)};

    flex: 0 0 auto;

    svg {
      width: functions.responsive-value(280, 193, "default", 992, "fixed-both", "px");
      height: functions.responsive-value(58, 40, "default", 992, "fixed-both", "px");
    }
  }
}

.header-row {
  display: flex;
  align-items: center;
  gap: var(--header-column-gap);

  @media (max-width: 1024px) {
    display: none;
  }
}

.header-tel {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 8px;
  line-height: 1;
  text-align: end;

  // .header-tel__link
  &__link {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    white-space: nowrap;
    color: variables.$color-e3051c;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover-1;
    }
  }

  // .header-tel__text
  &__text {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: variables.$color-147fae;
  }
}

.header-address {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;
  text-align: start;
  color: variables.$color-0067a2;

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-hover-2;
  }

  // .header-address__city
  &__city {
    font-size: 24px;
  }

  // .header-address__street
  &__street {
  }
}

.burger-button {
  position: relative;
  isolation: isolate;
  flex: 0 0 auto;
  inline-size: 24px;
  aspect-ratio: 24 / 20;
  margin-inline-end: 6px;
  font-size: 0;
  color: variables.$color-147fae;

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-hover-2;
  }

  @media (min-width: #{1024 + 0.1px}) {
    display: none;
  }

  // .burger-button__line
  &__line {
    position: absolute;
    inset-inline-start: 50%;
    inline-size: 100%;
    block-size: 2px;
    background-color: currentColor;
    transform: translateX(-50%);

    // .burger-button__line--top
    &--top {
      inset-block-start: 0;
    }

    // .burger-button__line--center
    &--center {
      inset-block-start: 50%;
      transform: translate(-50%, -50%);
    }

    // .burger-button__line--bottom
    &--bottom {
      inset-block-end: 0;
      border-end-end-radius: 8px;
    }
  }
}

.burger {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  max-block-size: 100%;
  padding-block: 29px 40px;
  padding-inline: 22px;
  color: variables.$color-white;
  background-color: variables.$color-147fae;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
  overflow-x: hidden;
  overflow-y: auto;

  html:not(.burger-active) & {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, visibility, transform;
    transition-duration: 0.3s;
  }

  @media (min-width: #{1024 + 0.1px}) {
    display: none;
  }

  > *:last-child {
    margin-block-end: 0;
  }

  // .burger__close
  &__close {
    margin-block-end: 10px;
  }

  // .burger__logo
  &__logo {
    --color-logo-plus-wave: #{url(#icon-gradient-logo-plus-wave-white)};

    margin-block-end: 24px;

    svg {
      max-inline-size: 100%;
    }
  }

  // .burger__address
  &__address {
    margin-block-end: 24px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: center;
    text-wrap: balance;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover-2;
    }
  }

  // .burger__tel
  &__tel {
    margin-block-end: 40px;
  }

  // .burger__button
  &__button {
    --button-background-color-1: #f2f2f2;
    --button-background-color-2: #b9b9b9;
    --button-max-inline-size: 248px;
    --button-padding-inline: 29px;
    --button-font-weight: 700;
    --button-font-size: 13px;
    --button-line-height: 1.23;
    --button-color: #{variables.$color-0067a2};
  }
}

.burger-tel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  letter-spacing: 0.03em;
  text-align: center;

  // .burger-tel__link
  &__link {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    white-space: nowrap;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover-2;
    }
  }

  // .burger-tel__text
  &__text {
  }
}
