@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.button {
  --button-background-image: linear-gradient(
    180deg,
    var(--button-background-color-1, #3a9ecb) 0%,
    var(--button-background-color-2, #147fae) 100%
  );

  display: flex;
  inline-size: var(--button-inline-size, auto);
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.24));
  transform: translateZ(0);

  @include mixins.prefers-reduced-motion {
    transition-property: --button-background-color-1, --button-background-color-2, --button-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    --button-background-color-1: #e3051c;
    --button-background-color-2: #be1622;
    --button-color: #{variables.$color-white};
  }

  &::before,
  &::after {
    content: "";
    flex: 0 0 auto;
    inline-size: 9px;
    min-block-size: 100%;
    background-image: var(--button-background-image);
    mask-size: auto 100%;
    mask-repeat: no-repeat;
  }

  &::before {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 48'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M3.65 2.55A3.9 3.9 0 0 1 7.3 0H8v48h-.69c-1.64 0-3.12-1-3.66-2.55a65 65 0 0 1 0-42.9' clip-rule='evenodd' /%3E%3C/svg%3E");
    mask-position: right center;
    transform: translateX(1px);
  }

  &::after {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 48'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M4.35 2.55A3.9 3.9 0 0 0 .7 0H0v48h.69c1.64 0 3.12-1 3.66-2.55a65 65 0 0 0 0-42.9' clip-rule='evenodd' /%3E%3C/svg%3E");
    mask-position: left center;
    transform: translateX(-1px);
  }

  // .button__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: var(--button-inner-inline-size, auto);
    max-inline-size: var(--button-max-inline-size, none);
    min-block-size: 48px;
    padding-block: 12px;
    padding-inline: var(--button-padding-inline, 16px);
    font-weight: var(--button-font-weight, 600);
    font-size: var(--button-font-size, 16px);
    line-height: var(--button-line-height, 1);
    letter-spacing: 0.05em;
    text-wrap: balance;
    text-transform: uppercase;
    text-align: center;
    color: var(--button-color, #{variables.$color-white});
    background-image: var(--button-background-image);
  }
}
