<header class="header" id="header" data-header="header" data-burger="wrapper">
  <div class="header__wrapper" data-header="wrapper">
    <div class="header__inner container">
      <div class="header-logo">
        <a class="header-logo__icon" href="/" aria-label="На главную" @@if (page==="index" ) { aria-current="page" }>
          <svg width="193" height="40" aria-hidden="true">
            <use xlink:href="#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="header-row">
        <div class="header-tel">
          <a class="header-tel__link" href="tel:+8172515000">8 (8172) 51-50-00</a>
          <div class="header-tel__text">МЫ ОТКРЫТЫ ДЛЯ ВСЕХ</div>
        </div>
        <a class="header-address" href="#" target="_blank" rel="noopener noreferrer">
          <span class="header-address__city">Вологда</span>
          <span class="header-address__street">ул. Челюскинцев, 48</span>
        </a>
        <button class="button" data-dialog-id="dialog-appointment"><span class="button__inner">Записаться</span></button>
      </div>
      <button class="burger-button" data-burger="open">
        <span class="burger-button__line burger-button__line--top"></span>
        <span class="burger-button__line burger-button__line--center"></span>
        <span class="burger-button__line burger-button__line--bottom"></span>
      </button>
    </div>
  </div>
</header>
<div class="burger" data-burger="menu">
  <button class="burger__close close" data-burger="close"></button>
  <a class="burger__logo" href="/" aria-label="На главную" @@if (page==="index" ) { aria-current="page" }>
    <svg width="248" height="51" aria-hidden="true">
      <use xlink:href="#icon-logo"></use>
    </svg>
  </a>
  <a class="burger__address" href="#" target="_blank" rel="noopener noreferrer">Вологда, ул. Челюскинцев, 48</a>
  <div class="burger__tel burger-tel">
    <a class="burger-tel__link" href="tel:+880080070080">8 800 800 70 80</a>
    <div class="burger-tel__text">Звонок по России бесплатный</div>
  </div>
  <button class="burger__button button" data-dialog-id="dialog-appointment"><span class="button__inner">ЗАПИСАТЬСЯ НА ПРИЕМ К ДЕРМАТОЛОГУ</span></button>
</div>
