@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans-Regular-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans-Regular-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans-SemiBold-Normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans-Bold-Normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans-ExtraBold-Normal.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
