$color-white: #fff;
$color-black: #000;

$color-hover-1: #0067a2;
$color-hover-2: #e3051c;

$color-333333: #333;
$color-e3051c: #e3051c;
$color-0067a2: #0067a2;
$color-147fae: #147fae;
$color-3a9ecb: #3a9ecb;
$color-828282: #828282;
