@use "../mixins/mixins";
@use "../variables/variables";

* {
  -webkit-tap-highlight-color: transparent;

  box-sizing: border-box;
  margin: unset;
  padding: unset;
  font: unset;
  letter-spacing: unset;
  word-spacing: unset;
  text-transform: unset;
  text-decoration: unset;
  color: unset;
  background: unset;
  border: unset;
  border-radius: unset;
  outline: unset;
  opacity: unset;
}

:where(body, html) {
  inline-size: 100%;
  block-size: 100%;
  font-size: 16px;
  text-size-adjust: 100%;
}

:where(:is(button, select):not(:disabled), label) {
  cursor: pointer;
}

:where(dialog, input:not([type="checkbox"], [type="radio"]), select, table, textarea) {
  inline-size: 100%;
}

:where(fieldset, select) {
  min-inline-size: unset;
}

:where(input, textarea) {
  caret-color: currentColor;
}

:where(:is(input, select, textarea):focus) {
  outline: unset;
}

:where(input:not([type="checkbox"], [type="radio"]), label, select, textarea) {
  display: block;
}

:where(ol, ul) {
  list-style: none;
}

:where(dialog) {
  position: fixed;
  isolation: isolate;
  inset: 0;
  display: flex;
  flex-direction: column;
  max-inline-size: unset;
  block-size: 100%;
  max-block-size: unset;
  overflow: hidden;

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
  }
}

:where(dialog:not([open])) {
  opacity: 0;
  visibility: hidden;
}

:where(html) {
  scroll-padding-block-start: variables.$header-height;

  @include mixins.prefers-reduced-motion {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

:where(img) {
  vertical-align: top;
}

:where(input:is([type="checkbox"], [type="radio"])) {
  appearance: unset;
}

:where(input[type="number"]) {
  appearance: unset;
  -moz-appearance: textfield;
}

:where(input[type="search"]) {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

:where(q) {
  &::before,
  &::after {
    content: unset;
  }
}

:where(select) {
  min-block-size: unset;
  text-overflow: ellipsis;
}

:where(svg) {
  fill: currentColor;
  stroke: currentColor;
}

:where(table) {
  border-collapse: collapse;
  border-spacing: unset;
}

:where(textarea) {
  resize: vertical;
}

:where(:focus-visible:not(input, select, textarea)) {
  outline: 2px solid var(--outline-color, currentColor);
  outline-offset: 2px;

  @include mixins.hover {
    outline: none;
  }
}

::backdrop {
  position: absolute;
  z-index: -1;
  background: unset;
}

::before,
::after {
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}
